#noluxury .buildingDescription
.description{height:155px}
#noluxury #researchFocus.dynamic h4,
#noluxury #researchFocus.dynamic
h4{color:#906646;font-size:18px;font-weight:bold;margin:4px}
#noluxury #researchFocus.dynamic,
#noluxury
#researchLibrary.dynamic{text-align:center}
#noluxury #container #mainview a:link,
#noluxury #container #mainview a:visited,
#noluxury #container #mainview a:active{color:#542c0f;font-weight:bold;text-decoration:none}
#noluxury #container #mainview a:hover{text-decoration:underline}