#palace
.buildingDescription{background:url(buildings/y100/palace.gif) no-repeat right 10px}
#palace #container #mainview .contentBox01h .content
div{text-align:center;margin:5px}
#palace #container #mainview .contentBox01h .content
p{padding:5px}
#palace #container #mainview .contentBox01h .content
th{background-color:#faeac6}
#palace #container #mainview .contentBox01h .content
.table01{border:0px;margin-top:0px;margin-bottom:10px;width:100%}