#researchAdvisor #mainview #mainview
tr.pgnt{border-top:1px solid #E4B873}
#researchAdvisor #container #container2 #mainview
.buildingDescription{min-height:0px}
#researchAdvisor #mainview
table.table01{border:0px
none;margin:0px
auto 10px auto;width:100%}
#researchAdvisor #mainview table#inboxResearch
a{color:#542c0f}
#researchAdvisor #mainview table#inboxResearch
td.text{text-align:left}
#researchAdvisor #mainview table#inboxResearch
td.subject{padding-left:20px;text-align:left;background-image:url(layout/icon-mail2.gif);background-position:left center;background-repeat:no-repeat;border-bottom:1px solid #dadac6}
#researchAdvisor #mainview table#inboxResearch
td.date{text-align:left;border-bottom:1px solid #dadac6;padding-right:4px;padding-left:4px}
#researchAdvisor #mainview table#inboxResearch
td.paginator{padding:0;margin:0;font-weight:bold;border-top:1px solid #dadac6}
#researchAdvisor #mainview table#inboxResearch .paginator
img{vertical-align:middle}
#researchAdvisor #mainview table#inboxResearch .paginator
a{font-weight:bold}
#researchAdvisor #container #container2 #mainview
.buildingDescription{height:auto;background:none}