#wonder #container #mainview
.buildingDescription{height:30px;min-height:30px}
#wonder #container #mainview .contentBox01h .content
table.table01{width:80%;margin:10px
auto}
#wonder #container #mainview .contentBox01h .content table.table01 td.donation
ul{}
#wonder .donor, #wonder
.cityName{text-align:left}
#wonder .donated, #wonder .priests, #wonder .convertion, #wonder
.percentage{text-align:right}
#wonder #container #mainview #wonderOtherPlayers
.table02{width:674px;border-collapse:collapse;border-spacing:0;margin:0
auto;padding:4px
8px}
#wonder #container #mainview #wonderOtherPlayers
td{padding:4px
8px}
#wonder #container #mainview contentBox01h .content table.table01
td.donation{}
#wonder #container #mainview .contentBox01h
h3.header{font-size:15px}
#wonder #container #mainview #wonderbox
div{}
#wonder #container #mainview #wonderbox
.wonderPic1{background:url(wonder2/wonder1_active.gif) no-repeat;background-position: -15px -20px}
#wonder #container #mainview #wonderbox
.wonderPic1_active{background:url(wonder2/wonder1_active.gif) no-repeat;background-position: -15px -20px}
#wonder #container #mainview #wonderbox
.wonderPic2{background:url(wonder2/wonder2_active.gif) no-repeat;background-position: -15px -20px}
#wonder #container #mainview #wonderbox
.wonderPic2_active{background:url(wonder2/wonder2_active.gif) no-repeat;background-position: -15px -20px}
#wonder #container #mainview #wonderbox
.wonderPic3{background:url(wonder2/wonder3_active.gif) no-repeat;background-position: -15px -20px}
#wonder #container #mainview #wonderbox
.wonderPic3_active{background:url(wonder2/wonder3_active.gif) no-repeat;background-position: -15px -20px}
#wonder #container #mainview #wonderbox
.wonderPic4{background:url(wonder2/wonder4_active.gif) no-repeat;background-position: -15px -20px}
#wonder #container #mainview #wonderbox
.wonderPic4_active{background:url(wonder2/wonder4_active.gif) no-repeat;background-position: -15px -20px}
#wonder #container #mainview #wonderbox
.wonderPic5{background:url(wonder2/wonder5_active.gif) no-repeat;background-position: -15px -20px}
#wonder #container #mainview #wonderbox
.wonderPic5_active{background:url(wonder2/wonder5_active.gif) no-repeat;background-position: -15px -20px}
#wonder #container #mainview #wonderbox
.wonderPic6{background:url(wonder2/wonder6_active.gif) no-repeat;background-position: -15px -20px}
#wonder #container #mainview #wonderbox
.wonderPic6_active{background:url(wonder2/wonder6_active.gif) no-repeat;background-position: -15px -20px}
#wonder #container #mainview #wonderbox
.wonderPic7{background:url(wonder2/wonder7_active.gif) no-repeat;background-position: -15px -20px}
#wonder #container #mainview #wonderbox
.wonderPic7_active{background:url(wonder2/wonder7_active.gif) no-repeat;background-position: -15px -20px}
#wonder #container #mainview #wonderbox
.wonderPic8{background:url(wonder2/wonder8_active.gif) no-repeat;background-position: -15px -20px}
#wonder #container #mainview #wonderbox
.wonderPic8_active{background:url(wonder2/wonder8_active.gif) no-repeat;background-position: -15px -20px}
#wonder #container #mainview #wonderbox
.wonderRays{background:url(wonder2/rays2.jpg) no-repeat;background-position:10px 10px}
#wonder #container #mainview #wonderbox
.wonderDeity{background:url(wonder2/deity.jpg) no-repeat}
#wonder #container #mainview #wonderbox
h4{margin:10px
0px 0px 190px;color:#612D04;font-size:13px;font-weight:bold;padding:3px}
#wonder #container #mainview #wonderbox
p{margin:0px
100px 0px 190px;padding:10px
0px 10px 3px}
#wonder #container #mainview #wonderbox
p.effect{font-weight:bold;padding-bottom:30px}
#wonder #container #mainview #wonderbox .wonderRays
p.effect{font-weight:bold;padding-bottom:60px}
#wonder #container #mainview #wonderbox
p.voted{padding-bottom:30px}
#wonder #container #resUpgrade
img.multipleDonationImg{display:inline;margin:0
10px 0 0;vertical-align:middle}