#wonderDetail #container #mainview .content
h4{color:#B03937;font-weight:bold;padding:5px;padding-left:20px}
#wonderDetail #container #mainview .content
p{padding-left:0px;padding-right:20px}
#wonderDetail #container #mainview .content
img{margin-left:10px}
#wonderDetail #container #mainview .content
div.blessing{padding-bottom:10px}
#wonderDetail #container #mainview
.effectTable{text-align:center;width:80%;margin:10px
auto;border:1px
solid #E4B873;background-color:#FDF7DD:}